/* モーダル背景オーバーレイ */
.pcm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-height: none;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
}

/* PromptCards タブ */
#txt2img_promptcards_pane,
#img2img_promptcards_pane{
    min-height:10px;
    height: calc((100vh - 880px)*1.06);
}

/*#region Card Editor Modal ------------------------------------*/
/* Modal Window : background overlay */
#pcm_pie_overlay {
    z-index: 9999;
}

/* Modal Window : foreground container */
#pcm_pie_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background-color: var(--body-background-fill);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    width: 850px;
    padding: 20px !important; /* gradio の.block.padded による !important を上書き */
    max-height: 90vh;
    overflow-y: auto;
}

/* メインの左右カラムの間隔 */
.pcm-pie-content > div:nth-child(1) {
    gap: 15px !important;
}

/* スクロールバーの表示 */
.pcm-pie-container {
    max-height: 100vh !important;
    overflow-y: auto !important;
}

/* スクロールバーの幅 */
.pcm-pie-container.block.padded::-webkit-scrollbar {
    width: 10px; 
}

/* スクロールバーの背景 */
.pcm-pie-container.block.padded::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
}

/* スクロールバーのつまみ部分 */
.pcm-pie-container.block.padded::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* スクロールバーホバー時のつまみの色 */
.pcm-pie-container.block.padded::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* ヘッダとの間隔 */
.pcm-pie-content {
    margin-top: 15px;
}

/* description の背景色 */
#pcm_pie_description textarea{
    background: #363c45;
}

/* - フッター - */
/* ボタン配置を右寄せにする */
.pcm-pie-footer-btn-row {
    justify-content: flex-end;
    margin-top: 15px;
}

/* ボタン間隔 */
.pcm-pie-footer-btn-row button {
    margin-left: 10px;
}

/* - 右側のカラム - */
/* 右側のカラムの配置 */
.pcm-pie-content-right {
    padding-top: 20px;
    align-items: center;
}

.pcm-pie-content-right img {
    height: auto;
}

/* 画像の下のセパレータ */
.pcm-pie-image-separator {
    width:78%;
    height:1px;
    background-color:#ccc;
    margin:5px 0;
    margin-left:auto;
    margin-right:32px;
}

/* - 解像度 スライダ - */
/* Box の枠線削除 */
.pcm-pie-resolution-box .form {
    background: transparent;
}

/* Resolution Box の行間調整 */
.pcm-pie-resolution-box .form *{
    padding-bottom:1px;
    padding-top:1px;
}


/* 解像度スライダ列の配置 */
.pcm-pie-resolution-row {
    position: relative;
    left: -55px;
    width: calc(100% + 15px) !important;/* 幅を広げて右端の位置を維持 */
}

/* 解像度スライダ列に自動適用される min-width: 320px を上書き */
.pcm-pie-resolution-row > div {
    min-width: 0!important;
}

/* Resolution スライダの幅 */
#pcm_pie_resolution_slider_width, #pcm_pie_resolution_slider_height {
    width: 79% !important;
    margin-left: auto; /* 左側に余白を作る */
    margin-right: 12px; /* 右側の余白をリセット */
}

/* - アスペクト比固定ボタン - */
/* 表面 */
#pcm_pie_fix_aspect_ratio_btn {
    width: 29px;
    height: 30px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    z-index: 5;
    background: #d8d8d8;
    border-radius: 3px;
    transition: background-color 0.1s ease;
}

/* 配置 */
#pcm_pie_fix_aspect_ratio_btn_wrapper {
    padding-bottom: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

/* 内部要素に対する追加設定 */
#pcm_pie_fix_aspect_ratio_btn > * {
    pointer-events: none; /* 内部要素のイベント無視 */
    user-select: none; /* アイコンを選択不可 */
}

/* ロック状態 */
#pcm_pie_fix_aspect_ratio_btn.pcm-pie-fix-aspect-ratio-btn-locked {
    background: #e8e8a0;
}

/* - 解像度フッタ - */
/* 左カラム */
#pcm_pie_resolution_slider_footer > div:first-child {
    min-width: auto !important;
}

/* 解像度スライダーフッターのボタン行の配置調整 */
#pcm_pie_resolution_slider_footer_btn_row {
    gap: 6px;
    justify-content: center;
    margin-left: 15px;
}

/* フッターボタンのサイズと配置調整 */
#pcm_pie_resolution_slider_footer_btn_row button {
    margin-top: 5px;
    padding-top: 9px;
    padding-bottom: 8px;
    min-width: auto;
    width: 46px;
    flex: 0 0 auto !important; /* Gradioのflex設定を上書き */
}

/* 右カラム*/
#pcm_pie_resolution_slider_footer > div:last-child {
    min-width: auto !important;
}

/* テキスト要素のコンテナの余分な枠線と余白を削除 */
.pcm_pie_resolution_slider_footer_label.block {
    margin-bottom: 5px;
}

/* 解像度スライダフッターのテキストフォント */
.pcm-pie-resolution-slider-footer-text {
    font-weight: bold;
    color: #dbc923!important;
    font-style: italic;
}

/* アスペクト比表示行のカーソルをポインタにする */
#pcm_pie_resolution_slider_footer_text_aspect_ratio_wrapper{
    cursor: pointer;
}

/* Apply Resolution false 時の半透明化 */
.pcm-pie-resolution-row.unchecked{
    opacity:0.3
}

#pcm_pie_resolution_slider_footer.unchecked{
    opacity:0.3
}


/* - 右列 - */
/* 解像度テキスト */
.pcm-pie-image-resolution-text {
    text-align: right; /* テキストを右揃えにする */
    width: 100%;       /* Row領域全体に広げる */
    padding-right: 20px!important;  /* 右端との隙間 */
    box-sizing: border-box!important;
}

.pcm-pie-data-set-buttons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4px !important;
}

.pcm-pie-data-set-buttons button {
    flex: 1;
    min-width: 0;
    padding: 4px 8px;
    font-size: 0.9em;
}

/*#endregion Card Editor Modal ------------------------------------*/

/*#region ExtraNetworks : TreeView ------------------------------------*/
/* ファイルアイテム非表示 */
#txt2img_promptcards_tree .tree-list-item[data-tree-entry-type="file"],
#img2img_promptcards_tree .tree-list-item[data-tree-entry-type="file"] {
    display: none;
}

/* 葉ノードのマーク */
.tree-list-leaf-chevron{
    margin-right:9px;
}

/* ツリービューの幅 : reforge では不要 */
/*
#txt2img_promptcards_tree, #img2img_promptcards_tree{
    min-width: 260px;
    max-width: 310px;
    flex: 0.48;
    width: 300px;
    flex: none;
}
*/
/*#endregion ExtraNetworks : TreeView ------------------------------------*/

/*#region Mini Gallery ------------------------------------*/
#pcm_mini_gallery_column{
    gap: 9px;
}

#pcm_mini_gallery_resolution_group,
#pcm_mini_gallery_seed_group
{
    border-bottom-width: 1px !important;
    border-radius: 0px; 
    border-color: rgb(55,65,81);
}

/*#region Mini Gallery : resolution ------------------------------------*/
/* slider */
#pcm_mini_gallery_width{
    margin-top: 4px;
}
#pcm_mini_gallery_height{
    margin-top: -5px;
}

/* slider */
#pcm_mini_gallery_width label,
#pcm_mini_gallery_height label{
    margin-bottom: -7px;
    margin-top: 2px;
}

#pcm_mini_gallery_resolution_row{
    gap: 10px;
    width:calc(100% + 25px);
}

#pcm_mini_gallery_resolution_row > div{
    min-width: 0 !important;
}

/* ボタンのサイズ */
#pcm_mini_gallery_switch_btn{
    width: 20px;
    height: 35px;
    border-radius: 6px;
}

/* ボタンを上下中央に */
#pcm_mini_gallery_resolution_button_column button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/*#endregion Mini Gallery : resolution ------------------------------------*/   

/*#region Mini Gallery : subseed ------------------------------------*/
#pcm_mini_gallery_seed_group{
    margin-top: -2px;
    margin-bottom: -7px;
}

#pcm_mini_gallery_seed_row > div,
#pcm_mini_gallery_subseed_row > div{
    min-width: 0 !important;
}

/* subseed 入力ボックス */
div:has(> .pcm_mini_gallery_seed_input),
div:has(> .pcm_mini_gallery_subseed_input){
    flex: none !important;
    min-width: 0 !important;
    width: 90px;
}

/* subseed 入力ボックス */
.pcm_mini_gallery_seed_input input {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

/* subseed ボタンのサイズ */
.pcm_mini_gallery_seed_btn{
    flex: none!important;
    width: 25px;
    min-width: 0!important;
    height: 30px;
    border-radius: 6px!important;
    padding-left: 1px!important;
    padding-right: 1px!important;
    padding-top: 1px!important;
    padding-bottom: 1px!important;
    margin-top: 13px!important;
    margin-left: 3px!important;
}

/* subseed 下段 */
#pcm_mini_gallery_subseed_row2 > div{
    min-width: 0 !important;
}

#pcm_mini_gallery_subseed_checkbox{
    min-width: 0!important;
    padding-left:95px!important;
    padding-top:5px!important;
}

/* slider */
#pcm_mini_gallery_subseed_strength {
    margin-top: 3px;
}

/* slider */
#pcm_mini_gallery_subseed_strength label{
    margin-bottom: -7px;
    margin-top: 2px;
}

/* subseed 非表示時の半透明化 */
#pcm_mini_gallery_seed_row_subseed_column.unchecked,
#pcm_mini_gallery_subseed_strength.unchecked{
    opacity: 0.3;
}
/*#endregion Mini Gallery : subseed ------------------------------------*/

/*#region Mini Gallery : cnet ------------------------------------*/
#pcm_mini_gallery_cnet_group{
    margin-top: -2px;
    margin-bottom: -7px;
}

#pcm_mini_gallery_cnet_weight, #pcm_mini_gallery_cnet_end_step{
    min-width: 0 !important;
}

/* slider */
#pcm_mini_gallery_cnet_weight label, #pcm_mini_gallery_cnet_end_step label{
    margin-bottom: -7px;
    margin-top: 2px;
}


/* マスクエディタ */
#pcm_mini_gallery_cnet_use_mask>*{
    margin-top:-8px;
}

#pcm_mini_gallery_cnet_use_mask label{
    width:85px;
}

#pcm_mini_gallery_cnet_mask_editor_btn{
    cursor: pointer;
    width: 21px;
    margin-left:-104px;
    margin-top:2px;

    background: #323c4b;
    border-radius: 3px;
}

#pcm_mini_gallery_cnet_mirror_btn{
    cursor: pointer;
    width: 21px;
    margin-left:-26px;
    margin-top:9px;

    background: #323c4b;
    border-radius: 3px;
}

#pcm_mini_gallery_cnet_mirror_btn > *,
#pcm_mini_gallery_cnet_mask_editor_btn > *{
    padding:1px;
}


/* 平常時は hover用 は非表示*/
.pcm_mini_gallery_button > img.hover{
    display: none;
}
/* hover 時は逆転 */
.pcm_mini_gallery_button:hover > img.hover{
    display: block;
}
.pcm_mini_gallery_button:hover > img.default{
    display: none;
}

/*#endregion Mini Gallery : cnet ------------------------------------*/

/*#endregion Mini Gallery ------------------------------------*/

/*#region Control Belt ------------------------------------*/
/* hide default UI */
div > #txt2img_promptcards_extra_search, div:has(> #txt2img_promptcards_extra_search),
div > #img2img_promptcards_extra_search, div:has(> #img2img_promptcards_extra_search),
.extra-networks-controls-div #txt2img_promptcards_extra_sort, .extra-networks-controls-div #img2img_promptcards_extra_sort,
.extra-networks-controls-div #txt2img_promptcards_extra_sort_dir, .extra-networks-controls-div #img2img_promptcards_extra_sort_dir,
#txt2img_promptcards_controls > small, #img2img_promptcards_controls > small,
#txt2img_promptcards_extra_sort_path, #img2img_promptcards_extra_sort_path,
#txt2img_promptcards_extra_sort_name, #img2img_promptcards_extra_sort_name,
#txt2img_promptcards_extra_sort_date_created, #img2img_promptcards_extra_sort_date_created,
#txt2img_promptcards_extra_sort_date_modified, #img2img_promptcards_extra_sort_date_modified,
#txt2img_promptcards_extra_tree_view, #img2img_promptcards_extra_tree_view
{
  display: none;
}

/* belt layout */
.extra-networks-controls-div #txt2img_promptcards_controls,
.extra-networks-controls-div #img2img_promptcards_controls{
    display: flex;
    align-items: center;
    gap: 0.5rem; /* 要素間の間隔 */
}

/*#region Control Belt : hover icon ------------------------------------*/
.pcm-control-belt-push-btn > img.hover{
    display: none;
}
.pcm-control-belt-push-btn:hover > img.hover{
    display: inline-block;
}
.pcm-control-belt-push-btn:hover > img.normal{
    display: none;
}
/*#endregion Control Belt : hover icon ------------------------------------*/

/*#region Control Belt : checkbox ------------------------------------*/
/* checkbox label */
.pcm-checkbox-label {
    color: var(--body-text-color);
    margin-left: 5px;
    cursor: pointer;
}

/* checkbox */
.pcm-checkbox {
    width: 1.2em;
    height: 1.2em;
    border: 2px solid var(--checkbox-border-color);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    top: 1px;
    background-color: var(--link-text-color);
    background-color: transparent;
    border-color: var(--checkbox-border-color);
    cursor: pointer;
}
.pcm-checkbox:checked {
    background-color: var(--link-text-color);
    border-color: var(--link-text-color);
}
/*#endregion Control Belt : checkbox ------------------------------------*/


/* 検索入力欄の幅を調整 */
#txt2img_extra_tabs .extra-network-control--search-text,
#img2img_extra_tabs .extra-network-control--search-text
{
    width: 320px;
}

/* open folder button */
#txt2img_pcm_open_folder_btn, #img2img_pcm_open_folder_btn{
    display: flex;
    align-items:center;
    width: 26px;
    cursor: pointer;
}

/* refresh dir button */
#txt2img_pcm_refresh_dir_btn > img,
#img2img_pcm_refresh_dir_btn > img{
    margin-top: 1px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

#txt2img_pcm_refresh_dir_btn > img:active,
#img2img_pcm_refresh_dir_btn > img:active{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: transform 0.2s;
}


#txt2img_promptcards_extra_tree_view{
    margin-right: -7px;
}

.pcm-control-belt-btn{
    display: flex;
    align-items:center;
    width: 26px;
    cursor: pointer;
}


.pcm-control-belt-btn:not(.enabled) > img.on,
.pcm-control-belt-btn.enabled > img.off{
    display: none;
}

/*#endregion Control Belt ------------------------------------*/

/*#region Card Design: copy default card style to pcm-card ----------*/
.extra-network-pane .pcm-card .button-row{
    display: inline-flex;
    visibility: hidden;
    color: white;
    position: absolute;
    right: 0;
    z-index: 1;
}

.extra-network-pane .pcm-card:hover .button-row{
    visibility: visible;
}

.extra-network-pane .pcm-card .pcm-card-button {
    font-size: 2rem;
}


.standalone-card-preview.pcm-card .preview{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height:100%;
}

.extra-network-pane .pcm-card, .standalone-card-preview.pcm-card{
    display: inline-block;
    margin: 0.5rem;
    width: 16rem;
    height: 24rem;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
    border-radius: 0.2rem;
    position: relative;

    background-size: auto 100%;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
}

.extra-network-pane .pcm-card:hover{
    box-shadow: 0 0 2px 0.3em rgba(0, 128, 255, 0.35);
}

.extra-network-pane .pcm-card .actions .additional{
    display: none;
}

.extra-network-pane .pcm-card .actions{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 0 0.25em 0.25em rgba(0,0,0,0.5);
    text-shadow: 0 0 0.2em black;
}

.extra-network-pane .pcm-card .actions *{
    color: white;
}

.extra-network-pane .pcm-card .actions .name{
    font-size: 1.7em;
    font-weight: bold;
    line-break: anywhere;
}

.extra-network-pane .pcm-card .actions .description {
    display: block;
    max-height: 3em;
    white-space: pre-wrap;
    line-height: 1.1;
}

.extra-network-pane .pcm-card .actions .description:hover {
    max-height: none;
}

.extra-network-pane .pcm-card .actions:hover .additional{
    display: block;
}

.extra-network-pane .pcm-card ul{
    margin: 0.25em 0 0.75em 0.25em;
    cursor: unset;
}

.extra-network-pane .pcm-card ul a{
    cursor: pointer;
}

.extra-network-pane .pcm-card ul a:hover{
    color: red;
}

.extra-network-pane .pcm-card .preview{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height:100%;
}
/*#endregion Card Design: copy default card style to pcm-card ----------*/

/*#region Card Design ------------------------------------*/
/*#region Card Design : custom button ------------------------------------*/
.pcm-card-button{
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 3px black;

    width: 1.5em;
    height: 2em;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 1));
    padding: 0.25em 0.1em;
}

.pcm-card-button:hover{
    color: red;
}

.pcm-card-button img {
    width: 32px;
    /*filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 1));*/
}

/* ホバー時のアイコン切り替え */
.pcm-card-button .normal-icon {
    display: inline-block;
}

.pcm-card-button .hover-icon {
    display: none;
}

.pcm-card-button:hover .normal-icon {
    display: none;
}

.pcm-card-button:hover .hover-icon {
    display: inline-block;
}

/* CNet 無効のカードは CNet ボタンを非表示にする */
.pcm-card-button.cnet-disabled {
    display: none;
}

/* CNet Mask は現状未実装 [TODO] */
.pcm-card-button.pcm-card-button-cnet-mask {
    display: none;
}
/*#endregion Card Design : custom button ------------------------------------*/

/* カード情報がないカード */
.pcm-card.no-card-info {
    border-width: 3px;
    border-color: #ffff00;
}

/* カードテキスト部分 */
:root{
    --card-name-font-size: 16px;
    --card-desc-color: #dbc09f;
}
#txt2img_promptcards_cards .name,
#img2img_promptcards_cards .name{
    font-size: var(--card-name-font-size);
}
#txt2img_promptcards_cards .description,
#img2img_promptcards_cards .description{
    color: var(--card-desc-color);
}

/* show name unchecked の場合の actions の表示 (classList に hoverOnly が追加されている) */
#txt2img_promptcards_cards > .pcm-card > .actions.hoverOnly,
#img2img_promptcards_cards > .pcm-card > .actions.hoverOnly{
    display: none;
}
#txt2img_promptcards_cards > .pcm-card:hover > .actions.hoverOnly,
#img2img_promptcards_cards > .pcm-card:hover > .actions.hoverOnly{
    display: inline-block;
}


/* 画像の表示 */
#txt2img_promptcards_cards > .pcm-card > img,
#img2img_promptcards_cards > .pcm-card > img{
    background-color:#ffffff;
}

/* 画像の fit */
#txt2img_promptcards_cards .pcm-card > img.fit-contain,
#img2img_promptcards_cards .pcm-card > img.fit-contain{
    object-fit: contain;
    /* 格子模様の背景色 : 濃さの変更は rgba(204,204,204,0.4) の 0.4 の値を変更 */
    background-image:
        linear-gradient(45deg, rgba(204,204,204,0.4) 25%, transparent 25%),
        linear-gradient(-45deg, rgba(204,204,204,0.4) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, rgba(204,204,204,0.4) 75%),
        linear-gradient(-45deg, transparent 75%, rgba(204,204,204,0.4) 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;    
}
/*#endregion Card Design ------------------------------------*/

/*#region Mask Editor ------------------------------------*/
/* Modal Window : background overlay */
#pcm_mask_editor_overlay {
    z-index: 9997;
}

/* Modal Window : foreground container */
#pcm_mask_editor_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9998;
    background-color: var(--body-background-fill);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    width: 1536px;
    padding: 20px !important; /* gradio の.block.padded による !important を上書き */
    max-height: 98vh;
    overflow-y: auto;
}

/* hide Deafault Buttons */
#pcm_mask_editor_canvas .image-container button,
#pcm_mask_editor_canvas .image-container input{
    display: none;
}

#pcm_mask_editor_control_belt_buttons{
    margin-top:-28px
}
#pcm_mask_editor_control_belt_buttons > *{
    margin:24px;
    cursor: pointer;
}

/* hover時 / active時 アイコンはデフォルト非表示 */
.pcm-mask-editor-button.hover,
.pcm-mask-editor-button.on{
    display: none;
}

/* hover / active になれば表示して平常時のアイコンは非表示 */
.pcm-mask-editor-button-container:hover .pcm-mask-editor-button.hover,
#pcm_mask_editor_invert_mask.active .pcm-mask-editor-button.on{
    display: inline;
}
.pcm-mask-editor-button-container:hover .pcm-mask-editor-button.default,
#pcm_mask_editor_invert_mask.active .pcm-mask-editor-button.off {
    display: none;
}
/*#endregion Mask Editor ------------------------------------*/
